<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <!-- Disable vulnerability auditing to prevent NU1900 warnings -->
    <add key="enablePackageAudit" value="false" />
  </config>
</configuration>
